*{
	padding:0 auto;
	border-radius:50px;
	margin:0 auto;
}

 input[type="button"]{
width:80px;
height:80px;
font-size:30px;
}
input[name="button"]{
	align-items:right;
}
div >input{
	background:#CCCCCC;
	text-transform: uppercase;
}
 input [type="text"]{
	background-color:#fff;
	text-align:left;
	}
#calculadora{
width: 350px;
  height: auto;
  margin: 2% auto;
  padding: 2% 2% 1%;
  background:#FF0000;
  background: linear-gradient(#FF0000);
  border-radius: 50px;
  }
#pantalla {
	display:list-item;
	text-align:center;
	font-size:100px;
	margin-bottom:50px;
	width:360px;
	height:120px;
	line-height:120px;
	background-color:#fff;
	border-radius:25px;
	text-align:right;
	color:red;
}

#pantalla:disabled {
	color:white;
} 